# The previous team's gitignore was massive so I moved It.
# If would like to review it, the old gitignore is in the directory that I'm blocking below. - Andrew

Archived_Fall2024/

# Please add what ever settings you need below


