


.main-content {
    padding: 2rem 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    color: black;
  }
  
 .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 } 

 .spacecraft {
    height: 40%;
 }

 .logo {
    width: 10%;
 }


  
  /* @media (max-width: 639px) {
    .home {
      padding: 1rem 0;
    }
  
  } */
  